<ion-view view-title="Clients">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="client in clients" ui-sref="app.client">
        <div class="row text-center">
          <div class="col col-50">{{client.name}}</div><div class="col">{{client.workoutCount}}</div><div class="col">{{client.lastActive}}</div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer-bar class="bar-light" ng-click="addClient()">
    <h1 class="title">Add Client</h1>
    <div class="buttons">
      <button class="button button-icon ion-plus"></button>
    </div>
  </ion-footer-bar>
</ion-view>
