<ion-header-bar>
  <h1 class="title">Join FeedMe</h1>
</ion-header-bar>
<ion-content class="padding has-header login text-center" title="Login">
  <ion-slide-box>
    <ion-slide>
      <h1>Push Button</h1>
      <h1>Get Food</h1>
      <h1>&nbsp;</h1>
      Powered by:
      <img src="/img/eatstreet.png"/>
    </ion-slide>
    <ion-slide>
      <h2>How many people? How much money?</h2>
      <h3>You control how much to spend and how many people we should order for.</h3>
      <h4>The rest is up to our proprietary algorithm to get you the best deal and the fastest service.</h4>
    </ion-slide>
    <ion-slide>
      <h2>Fewer decisions, faster ordering.</h2>
      <h3>No more arguing over where to order from. No more lamenting over what to get.</h3>
      <h4>Plus we'll save your address and payment info.</h4>
      <h3>Simple, pain free ordering.</h3>
    </ion-slide>
  </ion-slide-box>
</ion-content>
<ion-footer-bar align-title="center" class="bar-positive facebook" ng-click="vm.signIn()">
  <h1 class="title">Sign in with Facebook</h1>
  <button class="button button-icon ion-social-facebook"></button>
</ion-footer-bar>
