<ion-view view-title="Your Order" id="status">
  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="right"></button>
  </ion-nav-buttons>
  <ion-content class="">
    <div class="status padding" ng-if="vm.status">
      <h3>Status (est. delivery {{vm.order.estimatedDelivery| date: 'short' }})</h3>
      Last Updated: {{vm.status.updated | date: 'short'}}
      <div class="button-bar disabled">
        <button class="button button-balanced" disabled>Sent</button>
        <button class="button" disabled ng-class="{'button-balanced': vm.status.statusCode > 0}">Received</button>
        <button class="button" disabled ng-class="{'button-balanced': vm.status.statusCode > 1}">En Route</button>
        <button class="button" disabled ng-class="{'button-balanced': vm.status.statusCode > 2}">Delivered</button>
      </div>
    </div>
    <div class="" ng-if="!vm.status">
      Cannot get status update :(
    </div>
    <div class="order padding" ng-if="vm.order">
      <h3>Details</h3>
      Order Placed: {{vm.order.datePlaced | date:'short'}}
      <div class="list list-inset">
        <div class="item" ng-repeat="item in vm.order.items">
          {{item.name}}
          <span class="item-note">
            {{item.totalPrice}}
          </span>
        </div>
      </div>
    </div>
    <div class="" ng-if="!vm.order">
      Cannot get order details :(
    </div>
    <div class="restaurant card" ng-if="vm.restaurant">
      <img class="map col" ng-src="https://maps.googleapis.com/maps/api/staticmap?center={{vm.restaurant.latitude}},{{vm.restaurant.longitude}}&zoom=15&size=400x150&markers=color:'red'%7C{{vm.restaurant.latitude}},{{vm.restaurant.longitude}}">
      <div class="item item-avatar">
        <img ng-src="{{vm.restaurant.logoUrl}}">
        <h2>{{vm.restaurant.name}}</h2>
        <p>{{vm.restaurant.streetAddress}}, {{vm.restaurant.city}}, {{vm.restaurant.state}} {{vm.restaurant.zip}}</p>
      </div>
    </div>
    <div class="" ng-if="!vm.restaurant">
      Cannot get restaurant details :(
    </div>
  </ion-content>
</ion-view>
