// details.scss

.edit-client {
  .popup {
    width: 80%;
  }
  input {
    padding: 10px;
  }
  .item-select {
    .input-label {
      width: 0%;
    }
    select {
      width: 100%;
      max-width: 100%;
      direction: ltr;
    }
  }
  .item-toggle {
    background: transparent;
    border: none;
  }
}
.client-details {
  .info {
    .col, .row {
      padding: 0;
    }
  }
  .messages {
    .system {
      position: relative;
      text-align: center;
      padding: 20px;
      background: #cdcdcd;
      .title {
        font-size: 18px;
        font-weight: 900;
        line-height: initial;
      }
      .timestamp {
        right: 10px;
        bottom: 5px;
      }
    }
    .message {
      position: relative;
      margin: 20px 10px;
      min-height: 70px;
      .body {
        background: #dedede;
        padding: 10px;
        border-radius: 5px;
      }
      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        position: absolute;
        top: 0px;
        right: 3px;
      }
    }
    .user {
      .body {
        margin-right: 60px;
      }
    }
    .other {
      .body {
        margin-left: 60px;
      }
      .timestamp {
        left: 0px;
      }
      img {
        left: 3px;
      }
    }
    .timestamp {
      font-size: 12px;
      position: absolute;
      right: 0px;
      bottom: 0px;
    }
  }
}
