/* Empty. Add your own CSS if you like */

.popup {
  width: 80% !important;
}

.ion-24 {
  font-size: 24px !important;
}

.workout-list .icon {
  margin-right: 10px;
}

.workout .item .row,
.workout .item .col {
  padding: 0;
}
